# import

In [2]:
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
import json
import re
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from pandas import DataFrame
from tqdm.notebook import tqdm
import requests
from bs4 import BeautifulSoup

# FIFA API

In [4]:
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJYLUFwcC1SYXRlLUxpbWl0IjoiMjAwMDA6MTAiLCJhY2NvdW50X2lkIjoiMTg0OTc5NzQ5IiwiYXV0aF9pZCI6IjQiLCJleHAiOjE3Mzg0OTY0MjAsImlhdCI6MTY3NTQyNDQyMCwibmJmIjoxNjc1NDI0NDIwLCJzZXJ2aWNlX2lkIjoiNDMwMDExNDgxIiwidG9rZW5fdHlwZSI6IkFjY2Vzc1Rva2VuIn0.RgKo9dTKVoWLPzuAIGd5AmYK--QZoCPbRxUPrVJBVDI'

In [5]:
spposition_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spposition.json')
spposition_data = spposition_url.json()
spposition_num = pd.DataFrame(spposition_data)
spposition_num

    spposition desc
0            0   GK
1            1   SW
2            2  RWB
3            3   RB
4            4  RCB
5            5   CB
6            6  LCB
7            7   LB
8            8  LWB
9            9  RDM
10          10  CDM
11          11  LDM
12          12   RM
13          13  RCM
14          14   CM
15          15  LCM
16          16   LM
17          17  RAM
18          18  CAM
19          19  LAM
20          20   RF
21          21   CF
22          22   LF
23          23   RW
24          24   RS
25          25   ST
26          26   LS
27          27   LW
28          28  SUB

In [6]:
spId_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spid.json')
spId_data = spId_url.json()
spId = pd.DataFrame(spId_data)
spId

              id        name
0      101000001     데이비드 시먼
1      101000051      앨런 시어러
2      101000195      로비 파울러
3      101000240        로이 킨
4      101000241      라이언 긱스
...          ...         ...
59764  511257540     A. 크나우프
59765  511257889      K. 야키치
59766  511259307      M. 구스토
59767  511262621  G. 마마르다슈빌리
59768  511263781        반데르송

[59769 rows x 2 columns]

# 손흥민 데이터

In [7]:
heungmin_spId = spId.where(spId.name == '손흥민').dropna()
heungmin_spId

                id name
382    201200104.0  손흥민
770    206200104.0  손흥민
1194   207200104.0  손흥민
2032   215200104.0  손흥민
3031   221200104.0  손흥민
3320   222200104.0  손흥민
3733   230200104.0  손흥민
4441   234200104.0  손흥민
4858   240200104.0  손흥민
5622   250200104.0  손흥민
6095   252200104.0  손흥민
6763   258200104.0  손흥민
7562   267200104.0  손흥민
8171   273200104.0  손흥민
8629   278200104.0  손흥민
8726   293200104.0  손흥민
8790   295200104.0  손흥민
8879   298200104.0  손흥민
10691  300200104.0  손흥민
53365  500200104.0  손흥민
54208  501200104.0  손흥민
55466  502200104.0  손흥민
56671  503200104.0  손흥민
57751  506200104.0  손흥민
58509  508200104.0  손흥민
59239  511200104.0  손흥민

In [8]:
from itertools import product

heungmin_Id_and_position = list(product(*[list(heungmin_spId.id),list(spposition_num.spposition)]))
heungmin_Id_and_position

[(201200104.0, 0),
 (201200104.0, 1),
 (201200104.0, 2),
 (201200104.0, 3),
 (201200104.0, 4),
 (201200104.0, 5),
 (201200104.0, 6),
 (201200104.0, 7),
 (201200104.0, 8),
 (201200104.0, 9),
 (201200104.0, 10),
 (201200104.0, 11),
 (201200104.0, 12),
 (201200104.0, 13),
 (201200104.0, 14),
 (201200104.0, 15),
 (201200104.0, 16),
 (201200104.0, 17),
 (201200104.0, 18),
 (201200104.0, 19),
 (201200104.0, 20),
 (201200104.0, 21),
 (201200104.0, 22),
 (201200104.0, 23),
 (201200104.0, 24),
 (201200104.0, 25),
 (201200104.0, 26),
 (201200104.0, 27),
 (201200104.0, 28),
 (206200104.0, 0),
 (206200104.0, 1),
 (206200104.0, 2),
 (206200104.0, 3),
 (206200104.0, 4),
 (206200104.0, 5),
 (206200104.0, 6),
 (206200104.0, 7),
 (206200104.0, 8),
 (206200104.0, 9),
 (206200104.0, 10),
 (206200104.0, 11),
 (206200104.0, 12),
 (206200104.0, 13),
 (206200104.0, 14),
 (206200104.0, 15),
 (206200104.0, 16),
 (206200104.0, 17),
 (206200104.0, 18),
 (206200104.0, 19),
 (206200104.0, 20),
 (206200104.0, 21),
 (206200104.0, 22),
 (206200104.0, 23),
 (206200104.0, 24),
 (206200104.0, 25),
 (206200104.0, 26),
 (206200104.0, 27),
 (206200104.0, 28),
 (207200104.0, 0),
 (207200104.0, 1),
 (207200104.0, 2),
 (207200104.0, 3),
 (207200104.0, 4),
 (207200104.0, 5),
 (207200104.0, 6),
 (207200104.0, 7),
 (207200104.0, 8),
 (207200104.0, 9),
 (207200104.0, 10),
 (207200104.0, 11),
 (207200104.0, 12),
 (207200104.0, 13),
 (207200104.0, 14),
 (207200104.0, 15),
 (207200104.0, 16),
 (207200104.0, 17),
 (207200104.0, 18),
 (207200104.0, 19),
 (207200104.0, 20),
 (207200104.0, 21),
 (207200104.0, 22),
 (207200104.0, 23),
 (207200104.0, 24),
 (207200104.0, 25),
 (207200104.0, 26),
 (207200104.0, 27),
 (207200104.0, 28),
 (215200104.0, 0),
 (215200104.0, 1),
 (215200104.0, 2),
 (215200104.0, 3),
 (215200104.0, 4),
 (215200104.0, 5),
 (215200104.0, 6),
 (215200104.0, 7),
 (215200104.0, 8),
 (215200104.0, 9),
 (215200104.0, 10),
 (215200104.0, 11),
 (215200104.0, 12),
 (215200104.0, 13),
 (215200104.0, 14),
 (215200104.0, 15),
 (215200104.0, 16),
 (215200104.0, 17),
 (215200104.0, 18),
 (215200104.0, 19),
 (215200104.0, 20),
 (215200104.0, 21),
 (215200104.0, 22),
 (215200104.0, 23),
 (215200104.0, 24),
 (215200104.0, 25),
 (215200104.0, 26),
 (215200104.0, 27),
 (215200104.0, 28),
 (221200104.0, 0),
 (221200104.0, 1),
 (221200104.0, 2),
 (221200104.0, 3),
 (221200104.0, 4),
 (221200104.0, 5),
 (221200104.0, 6),
 (221200104.0, 7),
 (221200104.0, 8),
 (221200104.0, 9),
 (221200104.0, 10),
 (221200104.0, 11),
 (221200104.0, 12),
 (221200104.0, 13),
 (221200104.0, 14),
 (221200104.0, 15),
 (221200104.0, 16),
 (221200104.0, 17),
 (221200104.0, 18),
 (221200104.0, 19),
 (221200104.0, 20),
 (221200104.0, 21),
 (221200104.0, 22),
 (221200104.0, 23),
 (221200104.0, 24),
 (221200104.0, 25),
 (221200104.0, 26),
 (221200104.0, 27),
 (221200104.0, 28),
 (222200104.0, 0),
 (222200104.0, 1),
 (222200104.0, 2),
 (222200104.0, 3),
 (222200104.0, 4),
 (222200104.0, 5),
 (222200104.0, 6),
 (222200104.0, 7),
 (222200104.0, 8),
 (222200104.0, 9),
 (222200104.0, 10),
 (222200104.0, 11),
 (222200104.0, 12),
 (222200104.0, 13),
 (222200104.0, 14),
 (222200104.0, 15),
 (222200104.0, 16),
 (222200104.0, 17),
 (222200104.0, 18),
 (222200104.0, 19),
 (222200104.0, 20),
 (222200104.0, 21),
 (222200104.0, 22),
 (222200104.0, 23),
 (222200104.0, 24),
 (222200104.0, 25),
 (222200104.0, 26),
 (222200104.0, 27),
 (222200104.0, 28),
 (230200104.0, 0),
 (230200104.0, 1),
 (230200104.0, 2),
 (230200104.0, 3),
 (230200104.0, 4),
 (230200104.0, 5),
 (230200104.0, 6),
 (230200104.0, 7),
 (230200104.0, 8),
 (230200104.0, 9),
 (230200104.0, 10),
 (230200104.0, 11),
 (230200104.0, 12),
 (230200104.0, 13),
 (230200104.0, 14),
 (230200104.0, 15),
 (230200104.0, 16),
 (230200104.0, 17),
 (230200104.0, 18),
 (230200104.0, 19),
 (230200104.0, 20),
 (230200104.0, 21),
 (230200104.0, 22),
 (230200104.0, 23),
 (230200104.0, 24),
 (230200104.0, 25),
 (230200104.0, 26),
 (230200104.0, 27),
 (230200104.0, 28),
 (234200104.0, 0),
 (234200104.0, 1),
 (234200104.0, 2),
 (234200104.0, 3),
 (234200104.0, 4),
 (234200104.0, 5),
 (234200104.0, 6),
 (234200104.0, 7),
 (234200104.0, 8),
 (234200104.0, 9),
 (234200104.0, 10),
 (234200104.0, 11),
 (234200104.0, 12),
 (234200104.0, 13),
 (234200104.0, 14),
 (234200104.0, 15),
 (234200104.0, 16),
 (234200104.0, 17),
 (234200104.0, 18),
 (234200104.0, 19),
 (234200104.0, 20),
 (234200104.0, 21),
 (234200104.0, 22),
 (234200104.0, 23),
 (234200104.0, 24),
 (234200104.0, 25),
 (234200104.0, 26),
 (234200104.0, 27),
 (234200104.0, 28),
 (240200104.0, 0),
 (240200104.0, 1),
 (240200104.0, 2),
 (240200104.0, 3),
 (240200104.0, 4),
 (240200104.0, 5),
 (240200104.0, 6),
 (240200104.0, 7),
 (240200104.0, 8),
 (240200104.0, 9),
 (240200104.0, 10),
 (240200104.0, 11),
 (240200104.0, 12),
 (240200104.0, 13),
 (240200104.0, 14),
 (240200104.0, 15),
 (240200104.0, 16),
 (240200104.0, 17),
 (240200104.0, 18),
 (240200104.0, 19),
 (240200104.0, 20),
 (240200104.0, 21),
 (240200104.0, 22),
 (240200104.0, 23),
 (240200104.0, 24),
 (240200104.0, 25),
 (240200104.0, 26),
 (240200104.0, 27),
 (240200104.0, 28),
 (250200104.0, 0),
 (250200104.0, 1),
 (250200104.0, 2),
 (250200104.0, 3),
 (250200104.0, 4),
 (250200104.0, 5),
 (250200104.0, 6),
 (250200104.0, 7),
 (250200104.0, 8),
 (250200104.0, 9),
 (250200104.0, 10),
 (250200104.0, 11),
 (250200104.0, 12),
 (250200104.0, 13),
 (250200104.0, 14),
 (250200104.0, 15),
 (250200104.0, 16),
 (250200104.0, 17),
 (250200104.0, 18),
 (250200104.0, 19),
 (250200104.0, 20),
 (250200104.0, 21),
 (250200104.0, 22),
 (250200104.0, 23),
 (250200104.0, 24),
 (250200104.0, 25),
 (250200104.0, 26),
 (250200104.0, 27),
 (250200104.0, 28),
 (252200104.0, 0),
 (252200104.0, 1),
 (252200104.0, 2),
 (252200104.0, 3),
 (252200104.0, 4),
 (252200104.0, 5),
 (252200104.0, 6),
 (252200104.0, 7),
 (252200104.0, 8),
 (252200104.0, 9),
 (252200104.0, 10),
 (252200104.0, 11),
 (252200104.0, 12),
 (252200104.0, 13),
 (252200104.0, 14),
 (252200104.0, 15),
 (252200104.0, 16),
 (252200104.0, 17),
 (252200104.0, 18),
 (252200104.0, 19),
 (252200104.0, 20),
 (252200104.0, 21),
 (252200104.0, 22),
 (252200104.0, 23),
 (252200104.0, 24),
 (252200104.0, 25),
 (252200104.0, 26),
 (252200104.0, 27),
 (252200104.0, 28),
 (258200104.0, 0),
 (258200104.0, 1),
 (258200104.0, 2),
 (258200104.0, 3),
 (258200104.0, 4),
 (258200104.0, 5),
 (258200104.0, 6),
 (258200104.0, 7),
 (258200104.0, 8),
 (258200104.0, 9),
 (258200104.0, 10),
 (258200104.0, 11),
 (258200104.0, 12),
 (258200104.0, 13),
 (258200104.0, 14),
 (258200104.0, 15),
 (258200104.0, 16),
 (258200104.0, 17),
 (258200104.0, 18),
 (258200104.0, 19),
 (258200104.0, 20),
 (258200104.0, 21),
 (258200104.0, 22),
 (258200104.0, 23),
 (258200104.0, 24),
 (258200104.0, 25),
 (258200104.0, 26),
 (258200104.0, 27),
 (258200104.0, 28),
 (267200104.0, 0),
 (267200104.0, 1),
 (267200104.0, 2),
 (267200104.0, 3),
 (267200104.0, 4),
 (267200104.0, 5),
 (267200104.0, 6),
 (267200104.0, 7),
 (267200104.0, 8),
 (267200104.0, 9),
 (267200104.0, 10),
 (267200104.0, 11),
 (267200104.0, 12),
 (267200104.0, 13),
 (267200104.0, 14),
 (267200104.0, 15),
 (267200104.0, 16),
 (267200104.0, 17),
 (267200104.0, 18),
 (267200104.0, 19),
 (267200104.0, 20),
 (267200104.0, 21),
 (267200104.0, 22),
 (267200104.0, 23),
 (267200104.0, 24),
 (267200104.0, 25),
 (267200104.0, 26),
 (267200104.0, 27),
 (267200104.0, 28),
 (273200104.0, 0),
 (273200104.0, 1),
 (273200104.0, 2),
 (273200104.0, 3),
 (273200104.0, 4),
 (273200104.0, 5),
 (273200104.0, 6),
 (273200104.0, 7),
 (273200104.0, 8),
 (273200104.0, 9),
 (273200104.0, 10),
 (273200104.0, 11),
 (273200104.0, 12),
 (273200104.0, 13),
 (273200104.0, 14),
 (273200104.0, 15),
 (273200104.0, 16),
 (273200104.0, 17),
 (273200104.0, 18),
 (273200104.0, 19),
 (273200104.0, 20),
 (273200104.0, 21),
 (273200104.0, 22),
 (273200104.0, 23),
 (273200104.0, 24),
 (273200104.0, 25),
 (273200104.0, 26),
 (273200104.0, 27),
 (273200104.0, 28),
 (278200104.0, 0),
 (278200104.0, 1),
 (278200104.0, 2),
 (278200104.0, 3),
 (278200104.0, 4),
 (278200104.0, 5),
 (278200104.0, 6),
 (278200104.0, 7),
 (278200104.0, 8),
 (278200104.0, 9),
 (278200104.0, 10),
 (278200104.0, 11),
 (278200104.0, 12),
 (278200104.0, 13),
 (278200104.0, 14),
 (278200104.0, 15),
 (278200104.0, 16),
 (278200104.0, 17),
 (278200104.0, 18),
 (278200104.0, 19),
 (278200104.0, 20),
 (278200104.0, 21),
 (278200104.0, 22),
 (278200104.0, 23),
 (278200104.0, 24),
 (278200104.0, 25),
 (278200104.0, 26),
 (278200104.0, 27),
 (278200104.0, 28),
 (293200104.0, 0),
 (293200104.0, 1),
 (293200104.0, 2),
 (293200104.0, 3),
 (293200104.0, 4),
 (293200104.0, 5),
 (293200104.0, 6),
 (293200104.0, 7),
 (293200104.0, 8),
 (293200104.0, 9),
 (293200104.0, 10),
 (293200104.0, 11),
 (293200104.0, 12),
 (293200104.0, 13),
 (293200104.0, 14),
 (293200104.0, 15),
 (293200104.0, 16),
 (293200104.0, 17),
 (293200104.0, 18),
 (293200104.0, 19),
 (293200104.0, 20),
 (293200104.0, 21),
 (293200104.0, 22),
 (293200104.0, 23),
 (293200104.0, 24),
 (293200104.0, 25),
 (293200104.0, 26),
 (293200104.0, 27),
 (293200104.0, 28),
 (295200104.0, 0),
 (295200104.0, 1),
 (295200104.0, 2),
 (295200104.0, 3),
 (295200104.0, 4),
 (295200104.0, 5),
 (295200104.0, 6),
 (295200104.0, 7),
 (295200104.0, 8),
 (295200104.0, 9),
 (295200104.0, 10),
 (295200104.0, 11),
 (295200104.0, 12),
 (295200104.0, 13),
 (295200104.0, 14),
 (295200104.0, 15),
 (295200104.0, 16),
 (295200104.0, 17),
 (295200104.0, 18),
 (295200104.0, 19),
 (295200104.0, 20),
 (295200104.0, 21),
 (295200104.0, 22),
 (295200104.0, 23),
 (295200104.0, 24),
 (295200104.0, 25),
 (295200104.0, 26),
 (295200104.0, 27),
 (295200104.0, 28),
 (298200104.0, 0),
 (298200104.0, 1),
 (298200104.0, 2),
 (298200104.0, 3),
 (298200104.0, 4),
 (298200104.0, 5),
 (298200104.0, 6),
 (298200104.0, 7),
 (298200104.0, 8),
 (298200104.0, 9),
 (298200104.0, 10),
 (298200104.0, 11),
 (298200104.0, 12),
 (298200104.0, 13),
 (298200104.0, 14),
 (298200104.0, 15),
 (298200104.0, 16),
 (298200104.0, 17),
 (298200104.0, 18),
 (298200104.0, 19),
 (298200104.0, 20),
 (298200104.0, 21),
 (298200104.0, 22),
 (298200104.0, 23),
 (298200104.0, 24),
 (298200104.0, 25),
 (298200104.0, 26),
 (298200104.0, 27),
 (298200104.0, 28),
 (300200104.0, 0),
 (300200104.0, 1),
 (300200104.0, 2),
 (300200104.0, 3),
 (300200104.0, 4),
 (300200104.0, 5),
 (300200104.0, 6),
 (300200104.0, 7),
 (300200104.0, 8),
 (300200104.0, 9),
 (300200104.0, 10),
 (300200104.0, 11),
 (300200104.0, 12),
 (300200104.0, 13),
 (300200104.0, 14),
 (300200104.0, 15),
 (300200104.0, 16),
 (300200104.0, 17),
 (300200104.0, 18),
 (300200104.0, 19),
 (300200104.0, 20),
 (300200104.0, 21),
 (300200104.0, 22),
 (300200104.0, 23),
 (300200104.0, 24),
 (300200104.0, 25),
 (300200104.0, 26),
 (300200104.0, 27),
 (300200104.0, 28),
 (500200104.0, 0),
 (500200104.0, 1),
 (500200104.0, 2),
 (500200104.0, 3),
 (500200104.0, 4),
 (500200104.0, 5),
 (500200104.0, 6),
 (500200104.0, 7),
 (500200104.0, 8),
 (500200104.0, 9),
 (500200104.0, 10),
 (500200104.0, 11),
 (500200104.0, 12),
 (500200104.0, 13),
 (500200104.0, 14),
 (500200104.0, 15),
 (500200104.0, 16),
 (500200104.0, 17),
 (500200104.0, 18),
 (500200104.0, 19),
 (500200104.0, 20),
 (500200104.0, 21),
 (500200104.0, 22),
 (500200104.0, 23),
 (500200104.0, 24),
 (500200104.0, 25),
 (500200104.0, 26),
 (500200104.0, 27),
 (500200104.0, 28),
 (501200104.0, 0),
 (501200104.0, 1),
 (501200104.0, 2),
 (501200104.0, 3),
 (501200104.0, 4),
 (501200104.0, 5),
 (501200104.0, 6),
 (501200104.0, 7),
 (501200104.0, 8),
 (501200104.0, 9),
 (501200104.0, 10),
 (501200104.0, 11),
 (501200104.0, 12),
 (501200104.0, 13),
 (501200104.0, 14),
 (501200104.0, 15),
 (501200104.0, 16),
 (501200104.0, 17),
 (501200104.0, 18),
 (501200104.0, 19),
 (501200104.0, 20),
 (501200104.0, 21),
 (501200104.0, 22),
 (501200104.0, 23),
 (501200104.0, 24),
 (501200104.0, 25),
 (501200104.0, 26),
 (501200104.0, 27),
 (501200104.0, 28),
 (502200104.0, 0),
 (502200104.0, 1),
 (502200104.0, 2),
 (502200104.0, 3),
 (502200104.0, 4),
 (502200104.0, 5),
 (502200104.0, 6),
 (502200104.0, 7),
 (502200104.0, 8),
 (502200104.0, 9),
 (502200104.0, 10),
 (502200104.0, 11),
 (502200104.0, 12),
 (502200104.0, 13),
 (502200104.0, 14),
 (502200104.0, 15),
 (502200104.0, 16),
 (502200104.0, 17),
 (502200104.0, 18),
 (502200104.0, 19),
 (502200104.0, 20),
 (502200104.0, 21),
 (502200104.0, 22),
 (502200104.0, 23),
 (502200104.0, 24),
 (502200104.0, 25),
 (502200104.0, 26),
 (502200104.0, 27),
 (502200104.0, 28),
 (503200104.0, 0),
 (503200104.0, 1),
 (503200104.0, 2),
 (503200104.0, 3),
 (503200104.0, 4),
 (503200104.0, 5),
 (503200104.0, 6),
 (503200104.0, 7),
 (503200104.0, 8),
 (503200104.0, 9),
 (503200104.0, 10),
 (503200104.0, 11),
 (503200104.0, 12),
 (503200104.0, 13),
 (503200104.0, 14),
 (503200104.0, 15),
 (503200104.0, 16),
 (503200104.0, 17),
 (503200104.0, 18),
 (503200104.0, 19),
 (503200104.0, 20),
 (503200104.0, 21),
 (503200104.0, 22),
 (503200104.0, 23),
 (503200104.0, 24),
 (503200104.0, 25),
 (503200104.0, 26),
 (503200104.0, 27),
 (503200104.0, 28),
 (506200104.0, 0),
 (506200104.0, 1),
 (506200104.0, 2),
 (506200104.0, 3),
 (506200104.0, 4),
 (506200104.0, 5),
 (506200104.0, 6),
 (506200104.0, 7),
 (506200104.0, 8),
 (506200104.0, 9),
 (506200104.0, 10),
 (506200104.0, 11),
 (506200104.0, 12),
 (506200104.0, 13),
 (506200104.0, 14),
 (506200104.0, 15),
 (506200104.0, 16),
 (506200104.0, 17),
 (506200104.0, 18),
 (506200104.0, 19),
 (506200104.0, 20),
 (506200104.0, 21),
 (506200104.0, 22),
 (506200104.0, 23),
 (506200104.0, 24),
 (506200104.0, 25),
 (506200104.0, 26),
 (506200104.0, 27),
 (506200104.0, 28),
 (508200104.0, 0),
 (508200104.0, 1),
 (508200104.0, 2),
 (508200104.0, 3),
 (508200104.0, 4),
 (508200104.0, 5),
 (508200104.0, 6),
 (508200104.0, 7),
 (508200104.0, 8),
 (508200104.0, 9),
 (508200104.0, 10),
 (508200104.0, 11),
 (508200104.0, 12),
 (508200104.0, 13),
 (508200104.0, 14),
 (508200104.0, 15),
 (508200104.0, 16),
 (508200104.0, 17),
 (508200104.0, 18),
 (508200104.0, 19),
 (508200104.0, 20),
 (508200104.0, 21),
 (508200104.0, 22),
 (508200104.0, 23),
 (508200104.0, 24),
 (508200104.0, 25),
 (508200104.0, 26),
 (508200104.0, 27),
 (508200104.0, 28),
 (511200104.0, 0),
 (511200104.0, 1),
 (511200104.0, 2),
 (511200104.0, 3),
 (511200104.0, 4),
 (511200104.0, 5),
 (511200104.0, 6),
 (511200104.0, 7),
 (511200104.0, 8),
 (511200104.0, 9),
 (511200104.0, 10),
 (511200104.0, 11),
 (511200104.0, 12),
 (511200104.0, 13),
 (511200104.0, 14),
 (511200104.0, 15),
 (511200104.0, 16),
 (511200104.0, 17),
 (511200104.0, 18),
 (511200104.0, 19),
 (511200104.0, 20),
 (511200104.0, 21),
 (511200104.0, 22),
 (511200104.0, 23),
 (511200104.0, 24),
 (511200104.0, 25),
 (511200104.0, 26),
 (511200104.0, 27),
 (511200104.0, 28)]

In [9]:
def ranker_used_func(data) :
    data = json.dumps(data)
    headers = {'Authorization' : api_key}
    url = "https://api.nexon.co.kr/fifaonline4/v1.0/rankers/status?matchtype=50&players="

    response = requests.get(url+data, headers = headers) 
    _json = response.json()
    used_ranker = pd.json_normalize(_json)
    return used_ranker

In [10]:
heungmin_list=[]
for i in range(0, 29) : 
    heungmin_id,position_num = heungmin_Id_and_position[i]
    heungmin_list.append({"id":int(heungmin_id), "po":position_num})

heungmin_list

[{'id': 201200104, 'po': 0},
 {'id': 201200104, 'po': 1},
 {'id': 201200104, 'po': 2},
 {'id': 201200104, 'po': 3},
 {'id': 201200104, 'po': 4},
 {'id': 201200104, 'po': 5},
 {'id': 201200104, 'po': 6},
 {'id': 201200104, 'po': 7},
 {'id': 201200104, 'po': 8},
 {'id': 201200104, 'po': 9},
 {'id': 201200104, 'po': 10},
 {'id': 201200104, 'po': 11},
 {'id': 201200104, 'po': 12},
 {'id': 201200104, 'po': 13},
 {'id': 201200104, 'po': 14},
 {'id': 201200104, 'po': 15},
 {'id': 201200104, 'po': 16},
 {'id': 201200104, 'po': 17},
 {'id': 201200104, 'po': 18},
 {'id': 201200104, 'po': 19},
 {'id': 201200104, 'po': 20},
 {'id': 201200104, 'po': 21},
 {'id': 201200104, 'po': 22},
 {'id': 201200104, 'po': 23},
 {'id': 201200104, 'po': 24},
 {'id': 201200104, 'po': 25},
 {'id': 201200104, 'po': 26},
 {'id': 201200104, 'po': 27},
 {'id': 201200104, 'po': 28}]

In [11]:
ranker_used_func(heungmin_list)

,spId,spPosition,createDate,status.shoot,status.effectiveShoot,status.assist,status.goal,status.dribble,status.dribbleTry,status.dribbleSuccess,status.passTry,status.passSuccess,status.block,status.tackle,status.matchCount
0,201200104,2,2021-08-25T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,7.00000,6.00000,8.0,3.00000,0.0,0.00000,1
1,201200104,3,2022-03-12T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,1.00000,1.00000,3.0,3.00000,0.0,0.00000,1
2,201200104,7,2022-03-28T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.0,0.00000,0.0,0.00000,1
3,201200104,8,2021-08-25T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,7.50000,7.00000,9.5,8.00000,0.0,1.00000,2
4,201200104,9,2020-01-05T02:30:00,0.75000,0.50000,0.00000,0.25000,4.0,0.00000,0.00000,14.5,13.75000,0.0,0.50000,4
5,201200104,10,2022-05-12T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,1.0,1.00000,0.0,0.00000,1
6,201200104,11,2020-08-20T02:30:00,2.00000,1.00000,0.00000,0.00000,112.0,10.00000,9.00000,8.0,8.00000,0.0,0.00000,1
7,201200104,12,2022-11-02T02:30:00,0.10000,0.10000,0.10000,0.05000,0.0,5.95000,5.15000,9.8,9.00000,0.0,0.30000,20
8,201200104,13,2020-08-15T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,16.00000,14.00000,19.0,16.00000,0.0,2.00000,1
9,201200104,16,2021-11-24T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,8.00000,7.00000,10.0,10.00000,0.0,0.00000,1
10,201200104,17,2023-01-12T02:30:00,1.33333,0.33333,0.33333,0.33333,4.0,8.66667,7.33333,10.0,9.33333,0.0,0.33333,3
11,201200104,18,2021-09-24T02:30:00,1.00000,1.00000,0.00000,1.00000,82.0,12.00000,10.00000,13.0,11.00000,0.0,0.00000,1
12,201200104,19,2021-09-30T02:30:00,0.00000,0.00000,0.00000,0.00000,241.0,8.00000,7.00000,8.0,7.00000,0.0,0.00000,1
13,201200104,20,2021-04-16T02:30:00,1.00000,1.00000,0.00000,0.00000,0.0,10.00000,7.00000,10.0,9.00000,0.0,0.00000,1
14,201200104,21,2022-06-09T02:30:00,0.00000,0.00000,0.00000,0.00000,363.0,18.00000,17.00000,18.0,13.00000,0.0,1.00000,1
15,201200104,22,2022-10-07T02:30:00,1.00000,1.00000,1.00000,0.00000,0.0,2.00000,2.00000,1.0,1.00000,0.0,0.00000,1
16,201200104,23,2023-02-05T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,10.00000,10.00000,10.0,7.00000,0.0,0.00000,1
17,201200104,24,2022-05-28T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,1.0,1.00000,0.0,0.00000,1
18,201200104,25,2021-10-01T02:30:00,2.00000,2.00000,0.00000,1.00000,0.0,5.00000,5.00000,10.0,7.00000,0.0,1.00000,1
19,201200104,26,2022-04-03T02:30:00,1.00000,1.00000,0.00000,0.00000,0.0,10.00000,9.00000,18.0,18.00000,0.0,0.00000,1
20,201200104,27,2022-03-04T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,1.50000,1.00000,1.0,1.00000,0.0,0.00000,2
21,201200104,28,2021-09-26T02:30:00,0.00000,0.00000,0.00000,0.00000,0.0,2.00000,2.00000,2.0,1.00000,0.0,0.00000,1

In [12]:
start = 0
position_cnt = 29
heungmin_data = pd.DataFrame()
while(start < len(heungmin_Id_and_position)):
    heungmin_list = []
    for i in range(start, start+position_cnt) : 
        heungmin_id,position_num = heungmin_Id_and_position[i]
        heungmin_list.append({"id":int(heungmin_id), "po":position_num})
    heungmin_data = heungmin_data.append(ranker_used_func(heungmin_list))
    start = start+position_cnt
     
heungmin_data

,spId,spPosition,createDate,status.shoot,status.effectiveShoot,status.assist,status.goal,status.dribble,status.dribbleTry,status.dribbleSuccess,status.passTry,status.passSuccess,status.block,status.tackle,status.matchCount
0,201200104,2,2021-08-25T02:30:00,0.00000,0.00000,0.0,0.00000,0.000,7.00000,6.00000,8.00000,3.00000,0.0,0.000,1
1,201200104,3,2022-03-12T02:30:00,0.00000,0.00000,0.0,0.00000,0.000,1.00000,1.00000,3.00000,3.00000,0.0,0.000,1
2,201200104,7,2022-03-28T02:30:00,0.00000,0.00000,0.0,0.00000,0.000,0.00000,0.00000,0.00000,0.00000,0.0,0.000,1
3,201200104,8,2021-08-25T02:30:00,0.00000,0.00000,0.0,0.00000,0.000,7.50000,7.00000,9.50000,8.00000,0.0,1.000,2
4,201200104,9,2020-01-05T02:30:00,0.75000,0.50000,0.0,0.25000,4.000,0.00000,0.00000,14.50000,13.75000,0.0,0.500,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,511200104,24,2022-12-26T02:30:00,0.66667,0.66667,0.0,0.33333,0.000,8.33333,6.66667,9.66667,7.66667,0.0,0.000,3
10,511200104,25,2023-02-12T02:30:00,2.00000,0.00000,0.0,0.00000,0.000,8.00000,7.00000,6.00000,6.00000,0.0,0.000,1
11,511200104,26,2023-02-03T02:30:00,1.25000,1.12500,0.5,0.62500,24.125,11.50000,10.37500,15.12500,13.37500,0.0,0.375,8
12,511200104,27,2023-02-20T02:30:00,0.00000,0.00000,0.0,0.00000,0.000,0.00000,0.00000,0.00000,0.00000,0.0,0.000,1
13,511200104,28,2022-12-26T02:30:00,1.00000,1.00000,0.0,1.00000,0.000,6.00000,6.00000,9.00000,8.00000,0.0,0.000,1

In [13]:
heungmin_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 673 entries, 0 to 13
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   spId                   673 non-null    int64
 1   spPosition             673 non-null    int64
 2   createDate             673 non-null    object
 3   status.shoot           673 non-null    float64
 4   status.effectiveShoot  673 non-null    float64
 5   status.assist          673 non-null    float64
 6   status.goal            673 non-null    float64
 7   status.dribble         673 non-null    float64
 8   status.dribbleTry      673 non-null    float64
 9   status.dribbleSuccess  673 non-null    float64
 10  status.passTry         673 non-null    float64
 11  status.passSuccess     673 non-null    float64
 12  status.block           673 non-null    float64
 13  status.tackle          673 non-null    float64
 14  status.matchCount      673 non-null    int64
dtypes: float64(11), int64(3), object(1)
memory usage: 84.1+ KB

In [14]:
recent_heungmin_data = heungmin_data.query("createDate.str.startswith('2023') and `status.matchCount` >= 20 ")
recent_heungmin_data

,spId,spPosition,createDate,status.shoot,status.effectiveShoot,status.assist,status.goal,status.dribble,status.dribbleTry,status.dribbleSuccess,status.passTry,status.passSuccess,status.block,status.tackle,status.matchCount
19,221200104,20,2023-02-03T02:30:00,1.35,1.25,0.30,0.70,33.70,13.05,11.40,14.60,12.45,0.00,0.40,20
15,222200104,16,2023-02-23T02:30:00,0.50,0.20,0.20,0.00,28.25,6.00,5.15,8.15,6.80,0.00,0.40,20
26,222200104,27,2023-02-23T02:30:00,1.00,0.85,0.65,0.45,18.60,10.35,9.45,13.85,11.65,0.00,0.15,20
15,230200104,16,2023-02-23T02:30:00,0.70,0.40,0.25,0.10,55.00,7.75,6.90,9.60,8.65,0.00,0.30,20
16,230200104,17,2023-02-23T02:30:00,0.75,0.60,0.35,0.20,12.00,7.00,6.50,9.35,8.65,0.00,0.10,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,293200104,25,2023-02-23T02:30:00,1.50,1.15,0.25,0.45,26.25,8.95,7.55,12.50,11.50,0.00,0.25,20
25,293200104,26,2023-02-23T02:30:00,1.65,1.20,0.45,0.60,75.45,11.90,9.85,14.95,13.40,0.05,0.20,20
26,293200104,27,2023-02-23T02:30:00,1.15,0.80,0.15,0.35,123.90,9.60,8.05,10.90,10.10,0.00,0.05,20
27,293200104,28,2023-02-23T02:30:00,0.80,0.60,0.20,0.35,36.35,8.55,7.35,9.60,8.60,0.10,0.35,20
12,502200104,16,2023-01-11T02:30:00,0.35,0.25,0.10,0.05,27.50,7.30,6.20,9.15,8.30,0.00,0.15,20

In [15]:
heungmin_rank_avg_data = pd.concat([recent_heungmin_data.iloc[:,1], recent_heungmin_data.iloc[:,3:13]], axis=1)
heungmin_rank_avg_data

,spPosition,status.shoot,status.effectiveShoot,status.assist,status.goal,status.dribble,status.dribbleTry,status.dribbleSuccess,status.passTry,status.passSuccess,status.block
19,20,1.35,1.25,0.30,0.70,33.70,13.05,11.40,14.60,12.45,0.00
15,16,0.50,0.20,0.20,0.00,28.25,6.00,5.15,8.15,6.80,0.00
26,27,1.00,0.85,0.65,0.45,18.60,10.35,9.45,13.85,11.65,0.00
15,16,0.70,0.40,0.25,0.10,55.00,7.75,6.90,9.60,8.65,0.00
16,17,0.75,0.60,0.35,0.20,12.00,7.00,6.50,9.35,8.65,0.00
...,...,...,...,...,...,...,...,...,...,...,...
24,25,1.50,1.15,0.25,0.45,26.25,8.95,7.55,12.50,11.50,0.00
25,26,1.65,1.20,0.45,0.60,75.45,11.90,9.85,14.95,13.40,0.05
26,27,1.15,0.80,0.15,0.35,123.90,9.60,8.05,10.90,10.10,0.00
27,28,0.80,0.60,0.20,0.35,36.35,8.55,7.35,9.60,8.60,0.10
12,16,0.35,0.25,0.10,0.05,27.50,7.30,6.20,9.15,8.30,0.00

# 선수 능력치 크롤

In [16]:
no_duplicates_heungmin = list(recent_heungmin_data.drop_duplicates(subset='spId').spId)
no_duplicates_heungmin

[221200104,
 222200104,
 230200104,
 234200104,
 240200104,
 250200104,
 252200104,
 258200104,
 267200104,
 273200104,
 278200104,
 293200104,
 502200104]

In [17]:
response = requests.get(
    'https://fifaonline4.nexon.com/DataCenter/PlayerInfo?spid=206200104',
    headers={
        'User-Agent': 'Mozilla 5.0'
    }
)
bs = BeautifulSoup(response.text, 'lxml')

In [18]:
#bs.select('#middle > div > div > div:nth-child(2) > div.content.data_detail > div > div.content_bottom > ul.data_wrap > li.ab')

In [19]:
bs.select('#middle > div > div > div:nth-child(2) > div.content.data_detail > div > div.content_bottom > ul.data_wrap > li.ab')[1].text
len_ability = len(bs.select('#middle > div > div > div:nth-child(2) > div.content.data_detail > div > div.content_bottom > ul.data_wrap > li.ab'))

In [20]:
ability_list = []
ability_name_list = []
for idx in range(len_ability):
    string =  bs.select('#middle > div > div > div:nth-child(2) > div.content.data_detail > div > div.content_bottom > ul.data_wrap > li.ab')[idx].text
    ability_number = re.findall(r'\d+', string)
    ability_name = re.compile('[가-힣|A-Z ]+').findall(string)
    ability_list.extend(ability_number)
    ability_name_list.extend(ability_name)
ability_list = list(map(int,ability_list))
ability_name_list = ability_name_list[0::2]
#ability_name_list

In [21]:
heungmin_ability = pd.DataFrame(ability_list,index=ability_name_list, columns=['206200104'])
heungmin_ability.transpose()

,속력,가속력,골 결정력,슛 파워,중거리 슛,위치 선정,발리슛,페널티 킥,짧은 패스,시야,...,몸싸움,스태미너,적극성,점프,침착성,GK 다이빙,GK 핸들링,GK 킥,GK 반응속도,GK 위치선정
206200104,88,89,86,87,88,86,76,72,80,81,...,65,86,61,66,82,11,13,13,10,6

In [22]:
def heungmin_ability_func(spid):
    response = requests.get(
    f'https://fifaonline4.nexon.com/DataCenter/PlayerInfo?spid={spid}',
    headers={
        'User-Agent': 'Mozilla 5.0'
        }
    )
    bs = BeautifulSoup(response.text, 'lxml')
    
    ability_list = []
    ability_name_list = []
    for idx in range(len_ability):
        string =  bs.select('#middle > div > div > div:nth-child(2) > div.content.data_detail > div > div.content_bottom > ul.data_wrap > li.ab')[idx].text
        ability_number = re.findall(r'\d+', string)
        ability_name = re.compile('[가-힣|A-Z ]+').findall(string)
        ability_list.extend(ability_number)
        ability_name_list.extend(ability_name)
    ability_list = list(map(int,ability_list))
    ability_name_list = ability_name_list[0::2]

    return ability_list,ability_name_list

In [24]:
heungmin_ability = pd.DataFrame()
for spid in tqdm(no_duplicates_heungmin):
    ability_list,ability_name_list = heungmin_ability_func(spid)
    temp = pd.DataFrame(ability_list,index=ability_name_list, columns=[spid])
    temp = temp.transpose()
    heungmin_ability = heungmin_ability.append(temp)

  0%|          | 0/13 [00:00<?, ?it/s]

In [27]:
heungmin_ability = heungmin_ability.reset_index().rename(columns={'index': 'spId'})
#heungmin_ability
heungmin_ability.columns = ['spId','Speed', 'Accel','G_determin','S_power','middle_S','Location','Volley','Penalty', 'short_P','sight','Cross','long_P','free','Curve','Dribble','Control','Agility','Balance','Reaction','Personal_D','Tackle','Steal','Header','Sliding','Struggle','Stamina','Aggress','Jump','Composure','GK_dive','GK_handle','GK_kick','GK_react','GK_locate']

In [28]:
heungmin_ability

,spId,Speed,Accel,G_determin,S_power,middle_S,Location,Volley,Penalty,short_P,...,Struggle,Stamina,Aggress,Jump,Composure,GK_dive,GK_handle,GK_kick,GK_react,GK_locate
0,221200104,101,99,100,95,94,97,85,74,91,...,78,94,91,66,90,11,13,13,10,6
1,222200104,102,103,100,97,101,97,89,77,91,...,88,99,68,72,94,11,13,13,10,6
2,230200104,106,105,102,103,103,102,90,76,93,...,85,101,77,76,98,12,16,15,11,13
3,234200104,96,99,85,96,97,90,83,73,84,...,84,95,82,73,90,11,13,13,10,6
4,240200104,110,111,106,106,106,106,93,83,98,...,93,106,92,84,100,13,9,6,14,6
5,250200104,108,109,106,105,105,106,98,80,95,...,91,106,83,82,96,14,14,18,14,9
6,252200104,107,108,105,105,105,104,92,73,93,...,85,99,86,77,95,14,13,9,10,11
7,258200104,112,110,108,108,107,110,101,90,101,...,96,109,90,90,104,16,12,14,13,16
8,267200104,111,111,112,107,108,111,104,89,100,...,95,108,86,89,107,12,14,12,13,14
9,273200104,110,110,108,106,106,109,99,88,98,...,94,107,88,85,103,11,13,13,10,8
10,278200104,115,115,115,112,115,115,109,97,105,...,96,109,86,88,109,15,17,17,14,13
11,293200104,102,102,101,100,101,99,94,97,90,...,87,96,81,84,97,9,11,11,10,12
12,502200104,88,85,85,87,89,87,81,72,82,...,64,86,62,65,86,18,20,20,17,14

# 포지션별 시즌과 능력치

In [29]:
heungmin_rank_position_data = list(recent_heungmin_data.drop_duplicates(subset='spPosition').spPosition)
heungmin_rank_position_data

[20, 16, 27, 17, 19, 22, 28, 3, 24, 25, 12, 14, 18, 21, 26, 23, 15]

In [30]:
heungmin_rank_position_data.sort()
heungmin_rank_position_data

[3, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]

In [41]:
recent_heungmin_data_about_po = recent_heungmin_data.query('spPosition==22')
recent_heungmin_data_about_po_22 =pd.concat([recent_heungmin_data_about_po.iloc[:,0], recent_heungmin_data_about_po.iloc[:,3:13]], axis=1)
#recent_heungmin_data_about_po_22
heungmin_po_data_from_ability_and_ranker = recent_heungmin_data_about_po_22.merge(heungmin_ability, how= 'inner')
heungmin_po_data_from_ability_and_ranker.columns = heungmin_po_data_from_ability_and_ranker.columns.str.replace(".","_")
heungmin_po_data_from_ability_and_ranker

,spId,status_shoot,status_effectiveShoot,status_assist,status_goal,status_dribble,status_dribbleTry,status_dribbleSuccess,status_passTry,status_passSuccess,...,Struggle,Stamina,Aggress,Jump,Composure,GK_dive,GK_handle,GK_kick,GK_react,GK_locate
0,230200104,1.00,0.65,0.25,0.35,44.00,9.30,8.30,12.50,10.85,...,85,101,77,76,98,12,16,15,11,13
1,234200104,0.85,0.70,0.55,0.50,48.40,10.80,9.55,13.40,12.10,...,84,95,82,73,90,11,13,13,10,6
2,240200104,2.00,1.65,0.40,0.60,45.45,11.80,10.60,15.80,14.65,...,93,106,92,84,100,13,9,6,14,6
3,252200104,1.65,1.15,0.35,0.55,23.55,11.80,10.60,14.95,13.75,...,85,99,86,77,95,14,13,9,10,11
4,258200104,1.35,1.15,0.35,0.65,46.30,10.30,8.70,12.75,11.85,...,96,109,90,90,104,16,12,14,13,16
5,267200104,1.35,1.05,0.30,0.55,29.65,11.90,10.00,12.80,11.70,...,95,108,86,89,107,12,14,12,13,14
6,273200104,1.80,1.50,0.15,0.55,16.35,12.55,11.15,14.75,13.30,...,94,107,88,85,103,11,13,13,10,8
7,278200104,1.80,1.45,0.45,0.70,45.80,11.65,10.75,14.50,12.80,...,96,109,86,88,109,15,17,17,14,13
8,293200104,1.35,1.00,0.30,0.35,39.15,10.35,9.70,13.30,12.50,...,87,96,81,84,97,9,11,11,10,12

# 회귀 분석

In [35]:
scaled_features = ' + '.join([
    f'scale({column})' 
    for column 
    in heungmin_po_data_from_ability_and_ranker.columns[1:11]
])
scaled_features

'scale(status_shoot) + scale(status_effectiveShoot) + scale(status_assist) + scale(status_goal) + scale(status_dribble) + scale(status_dribbleTry) + scale(status_dribbleSuccess) + scale(status_passTry) + scale(status_passSuccess) + scale(status_block)'

In [40]:

model = sm.OLS.from_formula(f'Speed ~ {scaled_features}', heungmin_po_data_from_ability_and_ranker).fit()
model.summary()

ValueError: zero-size array to reduction operation maximum which has no identity

# 포지션별 선수

In [ ]:
striker_player = ['R. 레반도프스키', '디디에 드로그바', '로멜루 루카쿠', '엘링 홀란', '카림 벤제마']

In [ ]:
for player in tqdm(striker_player):
    striker_player_spId = spId.where(spId.name == '손흥민').dropna()